@font-face {
    font-family: Univers;
    src: url('/fonts/univers.ttf');
    font-family: 'Montserrat', sans-serif;
font-family: 'Spectral', serif;
}


body {
		background: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
		font-weight: 400;
    overflow-x: hidden;
}



/*---------------------------------------
    Typography              
-----------------------------------------*/

h1,h2 {
  font-weight: 400;
  /*letter-spacing: 1px;*/
}

h3,h4,h5,h6 {
  font-weight: 400;
}

h1 {
    font-size: 56px;
    /*letter-spacing: 2px;*/
    margin-bottom: 0px;
    font-weight: 400;
}

h2 {
  font-size: 32px;
  padding-bottom: 8px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-weight: bold;
}

p {
  color: #757575;
/*  color: #44484a;*/
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

p.home {
  font-weight: 300;
}

p.about {
  font-weight: 300;
  font-size: 27px;
  line-height: 42px;
  text-align: center;
  margin-top: 50px;
}

li {
  font-size: 18px;
  color: #44484a;
  padding: 5px 0px;
}

b, strong {
  font-weight: 600;
}

.caption {
  font-size: 14px;
  line-height: 18px;
  padding: 5px 0px;
}

.intro {
  font-weight: 500;
}

.small {
  font-size: 12px;
  line-height: 28px;
}
#service .small {
  padding: 10px 20px 20px 20px;
}




/*---------------------------------------
    General               
-----------------------------------------*/

html{
  -webkit-font-smoothing: antialiased;
}

a {
  /*color: #1dc9e3;*/
  color: #8BB2A2;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
a:hover, a:active, a:focus {
  color: #417565;
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #417565;
}

.section-title {
  position: relative;
  margin-bottom: 62px;
  text-align: center;
}

#portfolio,
#divider,
#team, #service,
#contact {
  padding-top: 100px;
  padding-bottom: 100px;
}

#portfolio,
#service, #contact {
  padding-top: 10px;
}

#divider,
#team, #service,
footer {
  text-align: center;
}

#portfolio img,
#team img {
  border-radius: 2px;
  width: 100%;
}

.bg-gray {
  background-color: #f9f9f9;
}

.element {
  display: flow-root;
  height: 40px;
  position: relative;
}


/*---------------------------------------
    Navigation section              
-----------------------------------------*/

.navbar-default {
    background: #ffffff;
    border: none;
    box-shadow: 0px;
    padding-top: 22px;
    margin: 0 !important;
}

.navbar-default .navbar-brand {
  color: #757575;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0;
}

.navbar-default .navbar-nav li a {
    color: #757575;
    font-size: 16px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-default .navbar-nav > li a:hover {
    color: #6666ff !important;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #606060;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #444;
    background-color: transparent;
}

.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }

.navbar-default .navbar-toggle .icon-bar {
    border-color: transparent;
  }

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { 
  background-color: transparent;
}

.container.navpadding {
  padding: 0px 30px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border: none;
}



/*---------------------------------------
    Main section              
-----------------------------------------*/

.main-about,
.main-service, .main-contact,
.main-xconrk {
    height: 70vh;
    text-align: center;
}




/*---------------------------------------
    Home section              
-----------------------------------------*/

#home {
    display: -webkit-box;
    display: -webkit-flex;
     display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
     align-items: center;
    height: 56vh;
    position: relative;
}

#home p {
  font-size: 27px;
  line-height: 42px;
  /*letter-spacing: 1px;*/
  padding-top: 18px;
}



/*---------------------------------------
   Divider section              
-----------------------------------------*/

#divider p {
  color: #666;
  font-size: 26px;
  line-height: 42px;
}

#divider .btn {
  background-color: #417565;
  border: 2px solid transparent;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  letter-spacing: 1px;
  padding: 12px 36px 14px;
  margin-top: 32px;
  transition: all 0.4s ease-in-out;
}

#divider .btn:hover {
  background: transparent;
  border-right-color: #417565;
  border-left-color: #417565;
  border-top-color: #417565;
  border-bottom-color: #417565;
  color: #417565;
}

.col-md-10.col-sm-12.top {
  padding: 0px 30px;
}


/*---------------------------------------
    About section              
-----------------------------------------*/

#about {
  padding-top: 40px;
  padding-bottom: 40px;
}

#about h3 {
  text-align: center;
}

#about .chart {
  position: relative;
  text-align: center;
}

#about .chart-icon {
  position: absolute;
  left:50%;
  top:50%;
  margin:-40px 0 0 -34px;
  width: 68px;
  height: 68px;
  line-height: 68px;
  border-radius:50%;
  background-color: #f0f0f0;
  color: #242424;
}

#about .chart-icon .fa {
  position: absolute;
  top:50%;
  margin-top: -12px;
  left:0;
  width: 100%;
  font-size: 24px;
}

#about .col-md-6.col-sm-12 {
  padding: 0px 30px;
}

#about .row{
  margin-bottom: 50px;
}

/*---------------------------------------
   Team section              
-----------------------------------------*/

#team h4 {
  padding-bottom: 12px;
}

#team .team-thumb {
  width: 100%;
  margin-bottom: 32px;
  position: relative;
}

#team .team-overlay {
  color: #ffffff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 90px;
  overflow: hidden;
  transition: height 450ms;
}

#team .team-thumb:hover .team-overlay {
  height: 100%;
  background-color: #ffffff;
  color: #222;
  padding-top: 30%;
  opacity: 0.9;
}

#team .team-thumb:hover h4 {
  color: #417565;
}


/*---------------------------------------
    Service section              
-----------------------------------------*/

#service .fa {
  background-color: #f0f0f0;
  border-radius: 100px;
  cursor: pointer;
  color: #417565;
  font-size: 32px;
  width: 85px;
  height: 85px;
  line-height: 85px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  position: relative;
  top: 0px;
}

#service .fa:hover {
  background-color: #222;
  color: #ffffff;
  transform: scale(1);
  top: -5px;
}

#service .small {
  padding-bottom: 40px;
}



/*---------------------------------------
    Portfolio section              
-----------------------------------------*/

.portfolio-thumb {
  margin: 0;
  overflow: hidden;
  position: relative;
}

.portfolio-item-hover {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: .67rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    left: 0;
    margin: auto;
    opacity: 0;
    padding: 2%;
    position: absolute;
    right: 0;
    text-align: center;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    top: 0;
}

.portfolio-item-hover h3{
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: #44484a;
  font-size: 28px;
}

.portfolio-item-hover p{
  text-align: center;
}

.portfolio-item-hover:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.portfolio-item-hover .fa{
  position: absolute;
  top:50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.portfolio-thumb a:hover .portfolio-item-hover {
  opacity: 1;
}

.portfolio-thumb a:hover .portfolio-item-hover:after {
  opacity: 1;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    padding: 0px;
    margin-bottom: 32px;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

.filter-wrapper li a {
    border-radius: 4px;
    color: #666;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #417565;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 25px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.fluid-img {
    width: 100%;
    display: block;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}


/*---------------------------------------
   Inner Pages         
-----------------------------------------*/

.main-innerpage {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 56vh;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.innerpage-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.innerpage-first {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    max-width: 800px;
    margin: 50px auto 20px;
}

.innerpage-img img {
  padding: 20px 0px;
}

.innerpage-first img {
  padding: 20px 0px;
}

#innerpage p {
  font-size: 18px;
  padding-top: 18px;
}

#innerpage h1 {
  text-align: center;
}

/*---------------------------------------
   Previous/Next             
-----------------------------------------*/

#contact form input[type="submit"]:hover {
  background: transparent;
  border-radius: 2px;
  border-right-color: #417565;
  border-left-color: #417565;
  color: #417565;
}

#contact .contact-detail-2 {
  padding-top: 6px;
}

#contact #google-map iframe {
  border: none;
  width: 100%;
  height: 350px;
}

.prev-next{
  width:100%;
  max-width:1170px;
  margin:0 auto;
  padding-top:100px;
  font-size: 16px;
}

.prev-next a{
  font-weight:500;
  color: #757575;
}

.prev-next a:hover{
  color: #417565;
}

.prev-button{
  width:50%;
  position:relative;
  float:left;
  text-align:left;
  padding-left: 15px;
}

.next-button{
  width:50%;
  position:relative;
  float:left;
  text-align:right;
  padding-right: 15px;
}

.fa-angle-left {
  padding-right: 5px;
}

.fa-angle-right {
  padding-left: 5px;
}

#full {
  width: 100%;
}

/*---------------------------------------
   Footer section              
-----------------------------------------*/

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

footer .footer-link ul {
  margin: 0;
  padding: 0;
  position: relative;
}

footer .footer-link ul li {
  list-style: none;
  display: inline-block;
  padding: 22px;
  font-size: 14px
}

footer .footer-link ul li a {
  color: #757575;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

footer .footer-link ul li a:hover {
  color: #417565;
}

footer .footer-copyright {
  padding-top: 16px;
}

footer .footer-copyright p {
  padding-top: 8px;
}



/*---------------------------------------
   Social icon             
-----------------------------------------*/

.social-icon {
    position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
}

.social-icon li a {
    color: #757575;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

.social-icon li a:hover {
    /*background: #417565;*/
    color: #417565;
    /*top: -5px;*/
}



/*---------------------------------------
   Back top         
-----------------------------------------*/

.go-top {
  background-color: #ffffff;
  box-shadow: 1px 1.732px 12px 0px rgba( 0, 0, 0, .14 ), 1px 1.732px 3px 0px rgba( 0, 0, 0, .12 );
  border-radius: 2px;
  transition : all 1s ease;
  bottom: 2em;
  right: 2em;
  color: #333;
  font-size: 22px;
  display: none;
  position: fixed;
  text-decoration: none;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-align: center;
}

.go-top:hover {
    background: #417565;
    color: #ffffff;
}



/*---------------------------------------
   Mobile Responsive         
-----------------------------------------*/

@media (max-width: 980px) {

  #home {
    height: 56vh;
  }

  #home p {
    font-size: 23px;
  }

  p.about {
    font-size: 23px;
  }

  .filter-wrapper li a {
    padding: 8px 12px;
  }

  #about .chart {
    margin-top: 32px;
  }

  #divider p {
    font-size: 24px;
  }

  p.about {
    margin-top: 100px;
  }

}



@media (max-width: 768px) {

 /* body {
    text-align: center;
  }*/

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
  }

  .problem {
    text-align: center;
  }

  #portfolio,
  #divider,
  #team, #service,
  #contact {
  padding-top: 80px;
  padding-bottom: 80px;
}

}



@media (max-width: 767px) {

  h2 {
    font-size: 28px;
  }

  .navbar-default {
    text-align: center;
    padding-top: 0px;
  }

  .navbar-default .navbar-brand {
    line-height: 25px;
  }

  .navbar-default .navbar-nav li a {
    line-height: 35px;
  }

  footer .footer-link ul li {
    padding: 8px;
  }

}



@media (max-width: 650px) {

  #home {
    height: 80vh;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h1.fadeInUp.element.homepage{
    font-size: 30px;
    text-align: center;
  }

  h2.fadeInUp.homepage{
    font-size: 18px;
    text-align: center;
  }

  p.home {
    text-align: center;
  }

  p.about {
    margin-top: 100px;
  }

  #home p,
  #divider p {
    font-size: 18px;
    line-height: 32px;
  }

  p.about {
    font-size: 18px;
    line-height: 32px;
  }

  .filter-wrapper {
    text-align: center;
  }

  .filter-wrapper li a {
    padding: 4px;
  }

  #contact .contact-detail-1 {
    padding-top: 32px;
  }

  .navbar-nav {
    margin-top: 40px;
  }

  .innerpage-first {
    margin: 40px auto 20px;
  }

  #portfolio {
    padding-top: 40px;
  }


}


